body, html {
  margin: 0;
  padding: 0;
  font-family: 'Livvic';
}


#index-wrapper {
  background-color: #1d1f21;
  height: 100vh;
  width: 100%;
}

#index-container {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
}

#title {
  color: #f1f1f1;
}

#error-prompt {
  color: rgb(212, 29, 29);
  opacity: 0;
  transition: 0.1s
}

#input-field-url {
  border: none;
  box-shadow: none;
  outline: none;
  width: 600px;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#button-container {
  margin-top: 15px;
  margin-bottom: 30px;
  display: grid;
  justify-items: end;
}

#percent, #conv-d {
  margin-top: 5px;
  margin-bottom: 8px;
  color: whitesmoke;
  opacity: 0;
}

#convert-and-download {
  outline: none;
  box-shadow: none;
  background-color: rgba(22, 180, 180, 0.801);
  border: none;
  border-radius: 10px;
  height: 40px;
  font-weight: bold;
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

#convert-and-download:hover {
  background-color: rgba(22, 180, 180, 0.651);
  color: whitesmoke;
}

.link {
  text-decoration: none;
  color: rgb(22, 180, 180);
  margin: -10; 
}

#gh {
  color: rgba(245, 245, 245, 0.671);
}

.white-text {
  color: rgba(245, 245, 245, 0.671); 
}

@media (max-width: 500px) {
  #input-field-url {
    width: 95%;
  }
}